.btn {
    margin: 0 5px 0 0;
} 

.form-switch {
    margin: 0 0 0 15px;
}

label {
    margin: 0 15px 0 0;
}

.passed {
    color: lime;
}

.current {
    background-color: lime;
}

.mistaked {
    background-color: red;
}
