body {
    background: white;
}

span {
    white-space: pre-wrap;
}

.btn {
    margin-right: 5px;
} 

/* text styles */

.text {
    min-height: 350px;
    font-family: monospace;
}

.text:focus {
    outline: none;
}

.current {
    color:rgb(0, 5, 125);
    background-color: rgb(25, 210, 20);
}

.passed {
    color:rgb(0, 5, 125);
}

.mistaked {
    color: white;
    background-color: red;
}

/* spinner styles */

#text-spinner {
    align-self: center;
    height: 100px;
    width: 100px;
}

#indicator-spinner {
    height: 22px;
    width: 22px;
}

/* input modal styles */

.input-label {
    margin-right: 15px;
}

.input-prompt {
    font-size: 14px;
}

#number-value {
    width: 35px;
}

/* control panel styles */

.form-switch {
    margin-left: 15px;
}

.question {
    display: flex;
    position: relative;
}

.question-mark {
    fill: gray;
}

.question-mark:hover {
    fill:dodgerblue;
}

.question-propmpt {
    display: none;
    width: 285px;
    position: absolute;
    top: 25px;
    left: 0;
}

/* alert styles */

.alert {
    display: none;
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    transform: translate(-350px, 0);
    transition: transform .5s;
}
